In [33]:
import os
import datetime
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [34]:
df=pd.read_csv("data.csv",sep=',', skiprows=1, header=None, names=['points', 'model 1','model 2', 'model 3', 'model 4', 'dates'] )

In [35]:
df

   points  model 1  model 2  model 3  model 4        dates
0       1     75.0    61.14     69.8     61.9   2018-12-13
1       2     56.6    55.10     51.1     51.5   2018-12-14
2       3     49.3    48.00     47.5     47.4   2018-12-15
3       4     46.8    47.00     46.9     46.8   2018-12-16
4       5     46.5    46.80     46.8     46.8   2018-12-17
5       6     46.7    47.00     46.9     46.8   2018-12-18
6       7     46.7    47.00     46.8     46.8   2018-12-19

In [36]:
df = read_data

NameError: name 'read_data' is not defined

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df.plot(x='points', y=[1,2,3,4,5])

In [ ]:
plt.show()

In [ ]:
df['model 1']

In [ ]:
frame_point['dates']

In [ ]:
matplotlib.pyplot.figure(figsize = [4,4], dpi = 300, )

In [ ]:
plt.plot(12,2 , label = "label")

plt.title("Graph")
plt.xlabel("x")
plt.ylabel("y")
plt.legend()

In [ ]:
import matplotlib.pyplot as plt


fig = plt.figure(figsize=[4,4], dpi=1200)
fig.suptitle('000')

plt.title('111')

plt.xlabel("xlbl")
plt.ylabel("ylbl")

plt.plot([1,2,3,4,5,6],[2,4,2,6,1,6])
plt.plot([3,6],[4,6])
plt.savefig(fname='fig.png')
plt.show()


plt.close()

'''
plt..describe()
'''

In [39]:
data2 = "Polema_powder_10_120_exported.dat"
df2=pd.read_csv("Polema_powder_10_120_exported.dat",sep="\s+|;|:", skiprows=2, header=None , engine='python')

In [40]:
df2

              0          1         2
0      0.710912  13.089005  0.585358
1      0.711691  12.198953  0.565106
2      0.712471  12.513089  0.572335
3      0.713250  12.120419  0.563284
4      0.714029  13.429319  0.592919
5      0.714808  13.010471  0.583599
6      0.715588  13.743455  0.599814
7      0.716367  13.586387  0.596376
8      0.717146  14.397905  0.613929
9      0.717925  13.350785  0.591183
10     0.718704  13.848167  0.602094
11     0.719484  12.094241  0.562675
12     0.720263  13.455497  0.593497
13     0.721042  12.827225  0.579475
14     0.721821  13.900523  0.603231
15     0.722600  13.717277  0.599242
16     0.723379  13.560209  0.595801
17     0.724158  12.015707  0.560845
18     0.724938  14.581152  0.617823
19     0.725717  13.141361  0.586528
20     0.726496  12.643979  0.575321
21     0.727275  13.795811  0.600955
22     0.728054  14.240837  0.610571
23     0.728833  13.507853  0.594650
24     0.729612  13.324607  0.590603
25     0.730391  14.450261  0.615044
26     0.731170  13.560209  0.595801
27     0.731950  14.188481  0.609447
28     0.732729  12.827225  0.579475
29     0.733508  13.926701  0.603799
...         ...        ...       ...
9982   7.053065  10.497382  0.524214
9983   7.053458  10.890052  0.533929
9984   7.053851  10.340314  0.520278
9985   7.054244   9.921466  0.509631
9986   7.054637  10.314136  0.519619
9987   7.055029  11.125654  0.539673
9988   7.055422  10.523560  0.524867
9989   7.055814  11.439790  0.547239
9990   7.056207  10.078534  0.513650
9991   7.056599  10.052356  0.512982
9992   7.056991  11.151832  0.540308
9993   7.057384   9.659686  0.502863
9994   7.057776  10.314136  0.519619
9995   7.058168  10.654450  0.528121
9996   7.058560   9.895288  0.508959
9997   7.058952  10.523560  0.524867
9998   7.059344  10.104712  0.514316
9999   7.059736   9.790576  0.506259
10000  7.060127  10.890052  0.533929
10001  7.060519  10.287958  0.518959
10002  7.060911  10.471204  0.523560
10003  7.061302  10.785340  0.531356
10004  7.061694  11.308900  0.544100
10005  7.062085  10.575916  0.526171
10006  7.062477  10.104712  0.514316
10007  7.062868  10.785340  0.531356
10008  7.063259   9.816754  0.506935
10009  7.063651   9.371728  0.495311
10010  7.064042   9.764398  0.505581
10011  7.064433   9.607330  0.501499

[10012 rows x 3 columns]

In [44]:
%cat Polema_powder_10_120_exported.dat

UsageError: Line magic function `%cat` not found.